* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 750px;
    background-color: #cae9f5;
    border-radius: 10px;
    padding: 0 15px;
}

.search input {
    height: 45px;
    width: 550px;
    font-size: 18px;
    outline: none;
    border-radius: 10px;
    padding: 10px;
}

button {
    height: 45px;
    width: 150px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    margin-left: 10px;
}

.output {
    height: 300px;
    width: 750px;
    background-color: #afdceb;
    margin-top: 15px;
    border-radius: 10px;
}

img {
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid #86c5d8;
}

.username h1 {
    position: absolute;
    margin-top: 15px;
    margin-left: 245px;
}

.bio p {
    position: absolute;
    margin-left: 245px;
    width: 500px;
    margin-top: 65px;
    font-size: 20px;
}

.info ul {
    position: absolute;
    margin-top: 195px;
    margin-left: 245px;
    display: flex;
}

ul li {
    margin: 15px;
    padding: 5px 15px;
    background-color: #b2b2b2;
    list-style: none;
}

#output {
    display: none;
}